.main {
	display: flex;
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-right: 2px solid #FB3B2D;
	.main-partners {
		display: flex;
		justify-content: center;
		width: 100%;
		flex-direction: column;
		
		

		.partners-btn {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			align-items:center;
			background-color: #FB3B2D;
			span {
				font-family: "Arial", sans-serif;
				font-weight: 400;
				font-size: 35px;
				line-height: 53px;
				max-width: 1059px;
				color: #FAEDD4;
				text-align: center;
				margin-top: 28px;
			}
		}
		.partners-button {
			display: flex;
			gap: 6px;
			margin: 84px 0 44px 0;
			a {
				font-family: "Arial", sans-serif;
				font-weight: 400;
				font-size: 20px;
				text-transform: uppercase;
				text-align: center;
				width: 251px;
				background-color: #FAEDD4;
				color: #FB3B2D;
				padding: 3px 0 3px 0;
			}
		}
		.partners-title {
			display: flex;
			justify-content: space-between;
		
			.partners-title__disc {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				border-right: 2px solid #FB3B2D;
				justify-content: end;
			.partners-title__main {
				.partners-title-title {
					padding: 0 0 36px 52px;
					h1 {
						font-family: "Arial", sans-serif;
					font-weight: 400;
					font-size: 65px;
					line-height: 65px;
					color: #FB3B2D;
					max-width: 569px;
					
					}
				}
				.partners-title-subtitle {
					border-top: 2px solid #FB3B2D;
					padding: 27px 0 23px 50px;
					p {
						font-family: "Arial", sans-serif;
						font-weight: 400;
						font-size: 22px;
						line-height: 33px;
						color: #FB3B2D;
						max-width: 594px;	
					}	
				}
			}
				
				
				.partners-content {
					background-color: #FB3B2D;
					h2 {
						font-family: "Arial", sans-serif;
					font-weight: 400;
					font-size: 37px;
					line-height: 63px;
					color: #FAEDD4;
					text-align: center;
					padding: 25px 0 25px 0;
					}
				}

			}
			.partners-img {
				background-image: url(../img/chicken1.png);
				width: 479px;
				height: 582px;
			}
		}
	}
	.background-chicken {
		.background-title {
			h2 {
				font-family: "Arial", sans-serif;
				font-weight: 400;
				font-size: 55px;
				line-height: 55px;
				color: #FB3B2D;
				padding-inline: 50px 0;
				padding-block: 19px 35px;
			}
		}
	}
	.icon {
		display: flex;
		align-items:center;
		flex-direction: column;
		border-top: 2px solid#FB3B2D;
		.icon-grid{
			display: grid;
			grid-template: repeat(2, 363px) / repeat(3, 315px);
			column-gap: 30px;
			
			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items:center;
				gap: 30px;
				
				span {
					display: inline-block;
					max-width: 197px;
					text-align: center;
					font-family: "Arial", sans-serif;
				font-weight: 400;
				font-size: 30px;
				line-height: 35px;
				color: #FB3B2D;
				}
				.wid {
					max-width: 94px;
				}
				.wid-2 {
					max-width: 170px;
				}
				.wid-3{
					max-width: 184px;
				}
			}
		}
		.icon-title {
			background-color: #FB3B2D;
			display: flex;
			gap: 89px;
			width: 100%;
			justify-content: center;
			span {
				font-family: "Arial", sans-serif;
				font-weight: 400;
				font-size: 40px;
				// line-height: 80px;
				color: #FAEDD4;
				padding: 40px 0 40px 0;
				display: inline-block;
			}
		}

	}
}