.wrapper {
	display: flex;
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	flex-direction: column;
	align-items: start;
	background-color: #FAEDD4;
	position: relative;

	.right-menu {
	
		position: absolute;
		display: flex;
		right: 0;
		text-align: center;
		margin-right: 0;
	}

		.right-menu__block {
			font-family: "Arial", sans-serif;
			font-weight: 400;
			font-size: 27px;
			padding: 1.5313rem 1.5313rem ;
			height: 800px;
			writing-mode:vertical-rl
			
		
			
				

		}
		.right-menu__block:nth-child(1) {
			background-color: #FC564A;
			
			
		}
		.right-menu__block:nth-child(2) {
			background-color: #FFAF00;
		}	
		.right-menu__block:nth-child(3) {
			background-color: #8899CC;
			
		}

	
	
	
}
